@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #00B7FF;
}

.chart {
    text-align: center;
    margin-left: auto ;
    margin-right: auto ;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    background: #202020;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
}

.content {
    display: flex;
    flex-direction: row
}

.content > .content__right-panel {
    width: 400px;
    border-left: 1px solid lightgray;
    height: calc(100vh - 64px);
}

.content > .content__left-panel {
    flex-grow: 4;
}